
.jumbotron .container-fluid{
	background-color: rgba(0, 0, 0, 0.2);
}

.jumbotron h1{
	text-align: center;
}

i{
	cursor: pointer;
}

.fa-trash{
	color: #d9534f;
}

.fa-pencil{
	color: #245580;
}

#elementTopTable_wrapper, #elementTable_wrapper, #userTable_wrapper, #categoryTable_wrapper, #roomTable_wrapper, #footerTopTable_wrapper{
	margin-top: 30px !important;
}