BODY{
    height: 100%;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.body-panel
{
    overflow-y: scroll;
    height: 450px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.panel-primary>.panel-heading {
	background-image:linear-gradient(to bottom,#70BEB1,#70BEB1 100%);
	border-color: #70BEB1;
}

.panel-primary{
	border-color: #70BEB1;
}

.btn-warning{
	background-image:linear-gradient(to bottom, #D99E7E, #D99E7E 100%);
	border-color: #D99E7E;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active:hover {
	background-color: #D99E7E;
    border-color: #D99E7E;
}

.padding-top-strong{
    padding-top: 6px;
    padding-left: 0px;
}

.table>tbody>tr>td{
    vertical-align: middle;
}

tr{
    background-color: #70BEB1;
}

.rating {
    direction: rtl;
}


.rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
    color: #D99E7E;
    cursor: pointer;
}

#title, #autor{
    margin:0px;
}

#div_note{
    padding-top:80px;
}

#div_note h3{
    margin-bottom:0px;
}

.panel-color>.panel-heading{
    background-color: #D99E7E;
    color:white;
}

.row{
    margin-right:0px
}

.panel-border{
    border: 1px solid #D99E7E;
}

ul.ui-autocomplete li strong{
    padding: 0 !important;
}

ul.ui-autocomplete li img{
    height: 100% !important;
    padding: 0 !important;
    width: initial !important;
}