BODY{
	padding-top: 50px;
}

/* HEADER */
.navbar{
	height: 50px;
}

.logo{
    max-height: 50px;
    margin: 0 20px;
}

li.dropdownCountdown{
	min-width: 200px;
}

#nextRoomCountdown{
	text-align: center;
    font-weight: bold;
}

#nextRoomDetails{
	width: 100%;
    padding: 20px 10px;
    background-color: #fdb16e;
}


#popupRegister{
    display: block;
}


/* CSS appliqué pour l'ensemble des container hormis l'accueil*/
.container:not(.notPadding){
	padding-right: 75px;
    padding-left: 75px;
    position: relative;
}

small{
    display: block;
}

/* FIGCAPTION du site */

figure img{
	max-width: 100%;
}

figcaption{
	text-align: center;
    font-size: 1.25em;
}

figcaption .title{
	
}

figcaption .author{

}

h1{
	margin-top: 20px;
	margin-bottom: 20px;
}

hr{
    border: 1px solid #e5e5e5;/* Meme couleur que les bordures de modal */ 
}

/* FORMAT XS */

@media(max-width:768px){

	/* VOLET DEROULANT */
	
    #wrapper {
        padding-left: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    #page-content-wrapper {
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    
    #sidebar-wrapper {
        z-index: 1040;
        position: fixed;
        left: 250px;
        width: 0;
        top: 0;
        height: 100%;
        margin-left: -250px;
        overflow-y: auto;
        background: #fbfbfb;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #sidebar-wrapper ul{
        margin: 0;
    }

    ul.navbar-nav ul.dropdown-menu{
        background-color: #dcf9e4 !important;
    }
    
    ul.navbar-nav>li.dropdown>a{
        padding-left: 25%;
    }

    #nextRoomCountdown{
        text-align: left;
    }
}