BODY{
	padding-top: 50px;
}

/* HEADER */
.navbar{
	height: 50px;
}

.logo{
    max-height: 50px;
    margin: 0 20px;
}

li.dropdownCountdown{
	width: 200px;
}

#nextRoomCountdown{
	text-align: center;
    font-weight: bold;
}

#nextRoomDetails{
	width: 100%;
    padding: 20px 10px;
}


#popupRegister{
    display: block;
}


/* CSS appliqué pour l'ensemble des container hormis l'accueil*/
.container:not(.notPadding){
	padding-right: 75px;
    padding-left: 75px;
}

/* FIGCAPTION du site */

figure img{
	max-width: 100%;
}

figcaption{
	text-align: center;
    font-size: 1.25em;
}

figcaption .title{
	
}

figcaption .author{

}

h1{
	margin-top: 20px;
	margin-bottom: 20px;
}
