
#profilPicture{
	max-width: 100%;
}

.description{
	font-style: italic;
}

.valig-center{
    float: none;
    display: inline-block;
}

.editProfile{
	position: absolute;
    right: 70px;
    top: 20px;
}