
#profilPicture{
	max-width: 100%;
    width: auto;
    max-height: 250px;
}

.description{
	font-style: italic;
}

.valig-center{
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.editProfile{
	position: absolute;
    right: 70px;
    top: 20px;
}

#searchElement .form-control{
    width:auto;
}

#searchElement button{
    background-color: rgba(206, 255, 206, 0.64);
}