.jumbotron{
	background-image: url(/images/welcome.jpeg);
	background-size: cover;
    min-height: 500px;
    background-position: 50%;
}

.jumbotron .container-fluid{
	background-color: rgba(0, 0, 0, 0.2);
}

.jumbotron h1{
	text-align: center;
}

.jumbotron small{
	color:white;
}

figure img{
	max-width: 100%;
}

figcaption{
	text-align: center;
    font-size: 1.25em;
}

figcaption .title{
	
}

figcaption .author{

}
